body {
	background-color: black;
	background-position: center;
	font-family: helvetica;
	color: #b2b2b2;
}
h1 {
	font-size: 80px;
	line-height: 0px;
	color: white;
}
h2 {
	font-size: 40px;
	line-height: 0px;
	font-family: "Times New Roman";
	font-style: italic;
	color: gray;
}
ul {
	margin: 12px 0 0 -38px;
	list-style: none;
}
li {
	padding-bottom: 10px;
	font-size: 22px;
}
input[type="text"] {
	border: 0;
	padding: 10px;
	font-size: 18px;
	width: 400px;
}
input[type="submit"] {
	background: red;
	color: white;
}
.checked {
	text-decoration: line-through;
}